.waitlist-dialog {
  width: 100%;
  max-width: 800px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  font-family: 'Georgia', serif;
  color: #2e2e2e;
  padding: 0px;
}

.dialog-content {
  display: flex;
  flex-direction: column;
}

.brand {
  font-weight: bold;
}

.nav-links span {
  margin-left: 1.5rem;
  cursor: pointer;
}

.dialog-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left-section h1 {
  font-size: 2rem;
  margin: 0;
  font-weight: 500;
}

.right-section {
  max-width: 40%;
  text-align: center;
}

.quote {
  font-style: italic;
  color: #444;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.join-btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.6rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.divider-image img {
  width: 100%;
  display: block;
}

.register-section {
  background: #fff;
  text-align: left;
  width: 100%;
  margin-top: 10px;
}

.register-section h2 {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
  text-align: left;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  color: #000;
}

.register-section p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-action {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.register-btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.7rem 2rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}

.register-btn:hover {
  background-color: #333;
}

@media (max-width: 768px) {
  .dialog-body {
    flex-direction: column;
    align-items: flex-start;
  }

  .right-section {
    max-width: 100%;
    text-align: left;
    margin-top: 1rem;
  }
}
