.research-sidebar-wrapper {
  height: fit-content;
  position: sticky;
  top: 7%;
  right: 0.5rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 10;
  border-left: 1px solid #e5e7eb;
  border-radius: 5px;
  padding: 10px;
}

.research-sidebar-collapsed {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  background: #f7f7f8;
}
