.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  padding: 2rem;
  border: 1px solid #000;
  width: 90%;
  max-width: 500px;
}

.modal h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.modal form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.modal form input[type='text'],
.modal form input[type='number'] {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  box-sizing: border-box;
  /* Important */
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.checkbox input {
  margin-right: 0.5rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.buttons button {
  padding: 0.75rem 1.5rem;
  border: 1px solid #ccc;
  cursor: pointer;
}

.buttons .confirmButton {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.buttons button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
